.header {
  box-sizing: border-box;
  text-shadow: 1px 3px 0 #383838, 1px 13px 5px #1f1f1f;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
  gap: 20px;
  color: white;
  background-color: rgba(46, 46, 46, 0.337);
  backdrop-filter: blur(2.5px);
  position: fixed;
  z-index: 3;
  padding: 0 100px;

  .logo,
  span,
  .searchBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo,.searchBar{
    margin: 0 20px;
  }
  .logo {
    img {
      filter: sepia(100%) saturate(600%) invert(100%) hue-rotate(140deg)
        brightness(65%) contrast(250%)
        drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    }
  }
  .searchBar{
    flex: 1;
  }
  .span{
    flex: 1;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}
select::-ms-expand {
  display: none;
}
.custom_select {
    position: relative;
    display: flex;
    line-height: 3;
    background: #4242427d;
    overflow: hidden;
    border-radius: .25em;
}
